@model IEnumerable<AlphaBugTracker.Models.ProjectUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.ProjectId">Assign a new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.UserMember
            </td>
            <td>
                <a asp-controller="ProjectUser" asp-action="Delete" asp-route-id="@item.Id">Remove this user</a>
            </td>
        </tr>
}
    </tbody>
</table>
